header{
    background: url(./img_source/header_background.jpg);
    max-width: 100%;
    background-size: contain;
    background-repeat: repeat;
    color: rgb(215, 150, 29);
    text-align: center;
    font-size: 52px;
    font-family: sans-serif;
    font-weight: bolder;
}


/*-------------------------------------------------------------------------------*/

nav{
    max-width: 100%;
    background-color: blue;
    display: flex;

}

nav ul li{
    display: inline-block;
}

.nav_btn{
    margin-top: 15px;
    margin-bottom: 20px;
}

.nav_btn a{

    background-color: rgb(215, 150, 29);
    color: white;
    cursor: pointer;
    margin-right: 10px;
    padding: 15px 20px;
    border-radius: 25px;
    border: 0;
    box-shadow: 2px 2px;
    font-weight: bold;
    text-decoration: none;
    opacity: 1;
}

/* Logout btn is in the navbar but due to some styles it is seperated the styling! */
.Logout_btn{
    margin-bottom: 15px;
    margin-left: 940px;
    padding: 5px 5px;
}

.Logout_btn a{
    color: white;
    cursor: pointer;
    padding: 25px 7px;
    border-radius: 50px 50px;
    border: 0;
    box-shadow: 3px 3px;
    text-decoration: none;
    opacity: 1;
}

.Logout_btn a:hover{
    color: red;
}

.nav_btn a:hover{
    opacity: 0.8;
}

/*-------------------------------------------------------------------------------*/

.welcome_h2{
    display: flex;
    padding: 10px 10px;
}
.welcome_p{
    padding: 10px 5px;
    
}

.welcome_img{
    height: 300px;
    width: 300px;
    padding: 10px 10px;
}
/*-------------------------------------------------------------------------------*/
.source_contents{
    display:inline-block;
    columns: 6 2;
    margin-left: 5px;

}

.source{
    padding: 10px;
}

h3{
    padding-left: 15px;
}

h4{
    background-color: rgb(215, 150, 29);
    padding: 5px 5px;
}


/*-------------------------------------------------------------------------------*/

.video_container{
    max-width: 100%;
    flex-shrink: inherit;
    display: block;
    columns: 2;
    overflow: hidden;
}
iframe{
    width: 560px;
    height: 315px;
    margin: 5px 5px;
}
/*-------------------------------------------------------------------------------*/
.logo_container{
    padding: 20px 20px;
    display: block;
    columns: 2;
    justify-items: center;
}

.logo_heading{
    padding-left: 20px;
}

.logo_text{
    text-align: justify;
}

.logo{
    display: flex;
    width: 400px;
    height: 200px;

}
/*--------------------------------signup.html form-----------------------------------------------*/

#signup_container{
    max-width: 30%;
    padding: 10px 10px;
    margin: 5% 30%;
    line-height: 2;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 3px 5px;
    border-color: darkgray;
}


/*---------------------------about.html form-------------------------------------------*/
form{
    margin-left: 20px;
}

.form_heading{
    padding-left: 20px;
}

#submit_btn{
    background-color: blue;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    opacity: 1;
}
#submit_btn:hover{
    opacity: 0.5;
}

/*--------------------------login.html from----------------------------------------*/


.login_container_P_form{
display: flex;
gap: 15%;
margin: 5% 5%;
}

.login_P, .login_form{
    width: 40%;
    padding: 5px;
}

.login_P{
    text-align: justify;
    line-height: 30px;
}

.login_form{
    max-width: 30%;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 2px 3px;
    line-height: 30px;

}

.login_h2{
    text-align: center;
    padding: 20px 20px;
}


/*-------------------------------------------------------------------------------*/

footer{
    background-color: rgb(209, 196, 196);
    color: white;
    text-align: center;
    padding: 20px 20px;
    font-family: sans-serif;
    margin-top: 5px;
    align-content: baseline;
}




/*-------------------------------------------------------------------------------*/
/*iPhone SE, XR, 12Pro and 14Pro Max! and pixel 7, Galaxy S8+, Galaxy S20 */
@media (min-width: 375px) and (max-width: 667px) {


    .welcome_h2{
        display: flex;
        padding: 10px 10px;
    }
    .welcome_p{
        padding: 10px 5px;
        
    }
    
    .welcome_img{
        height: 200px;
        width: 200px;
        padding: 10px 10px;
    }
    
    
    
    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }
    iframe{
        width: 170px;
        height: 90px;
        margin: 5px 5px;
    }
    
    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 10px 10px;
        margin-right: 10px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }
    .Logout_btn{
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }

    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }

        #signup_container{
            max-width: 90%;
            padding: 10px 10px;
            margin: 5% 5%;
            line-height: 2;
            border: 1px solid;
            border-radius: 25px;
            box-shadow: 3px 5px;
            border-color: darkgray;
        }


}


/*---------------------------iphone xr and iphone 14 pro max----------------------------------------*/
@media (min-width: 414px) and (max-width: 896px) {
    .video_container {
        max-width: 100%;
        columns: 1;
    }

    iframe{
        max-width: 200px;
        height: auto;
        margin: 5px 5px;
    }
}




/*-------------------------------------------------------------------------------*/
/* iPad Mini, */

@media (min-width: 768px) and (max-width: 1024px){
    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        width: 400px;
        height: 300px;
        margin-top: 40px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }

    footer{
        margin-top: 50px;
    }

    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }

    iframe{
        width: 350px;
        height: 200px;
        margin: 5px 5px;
    }

    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 10px 10px;
        margin-right: 10px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }
    .Logout_btn{
        margin-top: -10px;
        margin-bottom: -10px;
    }

    
    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }
}

/*-------------------------------------------------------------------------------*/
/* iPad Air, Surface pro 7 */

@media (min-width: 820px ) and (max-width: 1080px){
    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        width: 800px;
        height: 500px;
        margin-top: 40px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }
    .source_container{
        padding: 20px 20px;
    }

    footer{
        position: relative;
        margin-top: 350px;
    }

    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }

    iframe{
        width: 350px;
        height: 200px;
        margin: 5px 5px;
    }

    nav{
        background-color: midnightblue;
        padding: 10px 10px;
        display: flex;
    
    }

    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 5px 5px;
        margin-right: 5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }

    .Logout_btn a{
        color: white;
        cursor: pointer;
        padding: 10px 3px;
        border-radius: 50px 50px;
        border: 0;
        box-shadow: 3px 3px;
        text-decoration: none;
        font-size: 15px;
        opacity: 1;
    }
    
    .Logout_btn a:hover{
        color: red;
    }
    .Logout_btn{
        margin-bottom: 15px;
        margin-left: 300px;
        margin-top: -10px;
    }


    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }
}

/*-------------------------------------------------------------------------------*/
/* Surface Duo, */

@media (min-width: 540px ) and (max-width: 720px){

    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        width: 500px;
        height: 300px;
        margin-top: 40px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }
    .source_container{
        padding: 20px 20px;
    }

    footer{
        position: relative;
        margin-top: 350px;
    }

    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }

    iframe{
        width: 350px;
        height: 200px;
        margin: 5px 5px;
    }

    nav{
        background-color: midnightblue;
        padding: 10px 10px;
        display: flex;
    
    }

    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 5px 5px;
        margin-right: 5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }

    .Logout_btn a{
        color: white;
        cursor: pointer;
        padding: 10px 3px;
        border-radius: 50px 50px;
        border: 0;
        box-shadow: 3px 3px;
        text-decoration: none;
        font-size: 15px;
        opacity: 1;
    }
    
    .Logout_btn a:hover{
        color: red;
    }
    .Logout_btn{
        margin-bottom: 15px;
        margin-left: 240px;
        margin-top: -10px;
    }


    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }

    #signup_container{
    max-width: 100%;
    padding: 10px 10px;
    margin: 10px 5px;
    line-height: 2;
    border: 1px solid;
    border-radius: 25px;
    box-shadow: 3px 5px;
    border-color: darkgray;
    }
}

/*-------------------------------------------------------------------------------*/
/* Galaxy Z Fold 5, */

@media (min-width: 344px) and (max-width: 882px) {
    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        max-width: 100%;
        height: 100%;
        margin-top: 10px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }
    .source_container{
        padding: 20px 20px;
    }

    footer{
        position: relative;
        margin-top: 10px;
        align-content: baseline;
    }

    .video_container{
        display: block;
        columns: 1;
        overflow: hidden
    }

    iframe{
        width: 300px;
        height: 150px;
        margin: 5px 5px;
    }

    nav{
        background-color: midnightblue;
        padding: 0 0;
        display: flex;
    
    }

    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 5px 5px;
        margin-right: 5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }

    .Logout_btn a{
        color: white;
        cursor: pointer;
        padding: 15px 3px;
        border-radius: 50px 50px;
        border: 0;
        box-shadow: 2px 2px;
        text-decoration: none;
        font-size: 12px;
        opacity: 1;
    }
    
    .Logout_btn a:hover{
        color: red;
    }
    .Logout_btn{
        margin-bottom: 15px;
        margin-left: 220px;
        margin-top: -10px;
        padding-top: 0;
    }


    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }

        #signup_container{
            max-width: 100%;
            padding: 10px 10px;
            margin: 10px 5px;
            line-height: 2;
            border: 1px solid;
            border-radius: 25px;
            box-shadow: 3px 5px;
            border-color: darkgray;
        }
}

/*-------------------------------------------------------------------------------*/
/* Asus Zenbook Fold, */

@media (min-width: 853px) and (max-width: 1280px) {

    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        max-width: 800px;
        margin-top: 10px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }
    .source_container{
        padding: 20px 20px;
    }

    footer{
        position: relative;
        margin-top: 5px;
        align-content: baseline;
    }

    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }

    iframe{
        width: 300px;
        height: 150px;
        margin: 5px 5px;
    }

    nav{
        max-width: 100%;
        background-color: midnightblue;
        padding-top: 10px;
        display: flex;
    
    }

    .nav_btn{
        padding: 0;
        margin-top: 10px;
        margin-bottom: -20px;
        margin-right: 10px;

    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 5px 5px;        
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }

    .Logout_btn a{
        color: white;
        cursor: pointer;
        padding: 25px 7px;
        border-radius: 50px 50px;
        border: 0;
        box-shadow: 3px 3px;
        text-decoration: none;
        opacity: 1;
    }
    
    .Logout_btn a:hover{
        color: red;
    }
    .Logout_btn{
        margin-bottom: 15px;
        margin-left: 200px;
        padding-top: 0;
    }


    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
    }
        
    .login_P, .login_form{
        width: 90%;
        padding: 5px;
    }
}

/*--------------------- Samsung galaxy A51/71 -------------------------*/

@media (min-width: 412px ) and (max-width: 914px){

    .welcome_p{
        font-size: 20px;
        padding: 10px 10px;
    }
    .welcome_img{
        width: 800px;
        height: 500px;
        margin-top: 10px;
    }
    .source{
        padding: 20px 20px;
        line-height: 50px;
    }
    .source_container{
        padding: 20px 20px;
    }

    footer{
        position: relative;
        margin-top: 10px;
        align-content: baseline;
    }

    .video_container{
        display: block;
        columns: 2;
        overflow: hidden;
    }

    iframe{
        width: 350px;
        height: 200px;
        margin: 5px 5px;
    }

    nav{
        background-color: midnightblue;
        padding: 10px 10px;
        display: flex;
    
    }

    .nav_btn{
        padding: 0;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .nav_btn a{
        background-color: rgb(215, 150, 29);
        cursor: pointer;
        padding: 10px 10px;
        margin-right: 5px;
        border-radius: 25px;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
    }

    .Logout_btn a{
        color: white;
        cursor: pointer;
        padding: 20px 3px;
        border-radius: 50px 50px;
        border: 0;
        box-shadow: 3px 3px;
        text-decoration: none;
        font-size: 15px;
        opacity: 1;
    }
    
    .Logout_btn a:hover{
        color: red;
    }
    .Logout_btn{
        margin-bottom: 15px;
        margin-left: 270px;
        margin-top: -10px;
    }


    .logo_text{
        text-align: justify;
    }
    .logo{
        height: 100px;
        width: 320px;
    }

    .logo_container{
        padding: 20px 20px;
        columns: auto;
    }
    .login_container_P_form{
        display: inline-block;
        margin: 5% 5%;
        }
        
        .login_P, .login_form{
            width: 90%;
            padding: 5px;
        }
        
        .login_P{
            text-align: justify;
            line-height: 20px;
        }
        
        .login_form{
            max-width: 90%;
            border: 1px solid;
            border-radius: 5px;
            box-shadow: 2px 3px;
            line-height: 25px;
        
        }
        
        .login_h2{
            text-align: center;
            padding: 10px 10px;
        }
}